/* 
usable font families
font-family: 'Roboto', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Fredoka One', cursive;
 */

 body {
     background-image: url(../images/initialPageImages/Textured-Fabric.png);
 }


@media (min-width: 1200px) {
    .container{
        min-width: 1250px !important;
    }
}
input {
    margin: 20px;
    font-size: 25px !important;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

input[type=text] {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
  }

  #dynamicHeader{
      overflow: hidden;
      object-fit: cover;
      height : 370px;
  }
  

.site-labels{
    font-family: 'Abel', sans-serif;
    font-size: 30px !important;
}
.searchBar{
    margin-top: 5rem;
}
.selCard{
    width: 15rem;
    opacity: 0;
    height: 0;
}

.cardLbl{
    opacity: 0;
}

.cardDiv{
  visibility: hidden;
}
.overlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    
  }
  
  .cardDiv:hover .overlay {
    opacity: 1;
    transform: scale(1.5);
  }
  .selCard:hover{
    transform: scale(1.5);
  }
  
  .bubble{
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    color:  #ffffff;
    text-shadow: 0 0 11px #000000;
  }
  
  h3 {
    font-family: 'Abel', sans-serif;
    color: black;
    font-size: 30px;
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .headerBox{
      display: none;
  } @media (max-width: 1091px) {
    .cardDiv {
        margin-bottom: 100px;
 }